$yellow-primary: #FBB818;
$yellow-secondary: #FDCB6E;
$yellow-tertiary: #FFE8BE;


$brown-primary: #B18F4D;
$brown-secondary: #AE7914;
$brown-tertiary: #653308;

$color-black: #333;
$color-grey: #eee;
$color-white: #FFF;

$warning-primary: #c66;
$warning-secondary: #f99;

