extends layout

block content

    table.table
        thead
            th #
            th Tilvitnun
            th Bók
            th Kafli
        tbody
            each quote in quotes
                tr
                    td= quote.id
                    td= quote.quote
                    td= quote.book
                    td= quote.chapter
        
