extends layout

block content
    div.image-wrapper
        img.logo--small(src="/Laxness.svg" alt="logo")
    h2.page-title Færslur
    include navbar
        table.table
            thead
                th #
                th Tilvitnun
                th Bók
                th Kafli
            tbody
                each quote in quotes
                        tr
                            td 
                                a(href='/update/' + quote.id)= quote.id
                            td= quote.quote
                            td= quote.book
                            td= quote.chapter
        
