extends layout
include mixins
block content

  if errors && errors.length > 0
    ul.validation
      each error in errors
        li.validation__item: label(for=error.param)= error.msg

  form.form(method="post", action="/api/form")
    +input('Quote', 'quote', data.name, isInvalid('quote', errors))
    +input('Book', 'book', data.book, isInvalid('book', errors))
    +input('Chapter', 'chapter', data.chapter, isInvalid('chapter', errors))
    button.form__button Senda
  a(href="/api/date")
    button.form__button(type="button") Skoða færslur