doctype
html(lang="is")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500" rel="stylesheet")
    title=title

  body
    main
      .content
        block content

    footer
      .user
        if showLogin
          if user
            p.link: a(href="/") Innskráning
          else
            p Innskráður notandi: #{user}
            p: a(href="/logout") Útskráning