doctype
html(lang="is")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/styles.css")
    title=title

  body
    main
      img.logo(src="Laxness.svg" alt="logo")
      .content
        block content

    footer
      .user
        if showLogin
          if user
            p.link: a(href="/") Innskráning
          else
            p Innskráður notandi: #{user}
            p: a(href="/logout") Útskráning