extends layout
include mixins

block content
  div.image-wrapper
    img.logo(src="/Laxness.svg" alt="logo")
  if message
    p.invalid= message

  form.form(method='post' action='/')
    +input('Notendanafn', 'username')
    +input('Lykilorð', 'password')(type='password')
    div.form__button-wrapper
      button.button Innskrá