block navbar
    div.navbar
        a.button(href="/api/date") Skoða færslur
        a.button(href='/api/form') Skrá færslu
        if(!update)
            a.button(href='/api/switch') Breyta færslu
        
